In [1]:
3000+6543

9543

In [2]:
6*8

48

In [3]:
4000/6

666.6666666666666

In [4]:
23 % 2

1

In [5]:
20 % 2

0

In [6]:
50 % 7

1

In [7]:
2**3

8

In [8]:
2**5

32

In [9]:
2 + 10 * 10 +5

107

In [10]:
(2 + 10) * (10 + 3)

156

In [1]:
a = 5

In [2]:
a

5

In [3]:
a = 100

In [4]:
a = a

In [5]:
a = 100

In [6]:
a + a

200

In [18]:
a = a + a

In [19]:
a

1600

In [20]:
type(a)

int

In [21]:
a = 300.1

In [22]:
type(a)

float

In [2]:
my_income = 100

tax_rate = 0.1

my_taxes = my_income * tax_rate

In [5]:
my_taxes

10.0

In [ ]:
mystring = "Hello World"

In [2]:
mystring

'Hello World'

In [4]:
mystring[0]

'H'

In [5]:
mystring[6]

'W'

In [6]:
mystring[8]

'r'

In [8]:
mystring[10]

'd'

In [1]:
name = 'mitul'

In [2]:
print(f'Hello, his name is {name}')

Hello, his name is mitul

In [3]:
name = 'jatin'
age = '17'

In [6]:
print(f' {name} is {age} years old')

 jatin is 17 years old

In [7]:
print(f'Hello, my name is {name} and i am {age} years old')

Hello, my name is jatin and i am 17 years old

list

In [8]:
my_list = [1,2,3]

In [9]:
my_list = ['STRING',100,23.2]

In [10]:
len(my_list)

3

In [12]:
mylist =['one','two','three']

In [13]:
mylist

['one', 'two', 'three']

In [14]:
mylist[0]

'one'

In [15]:
mylist[1:]

['two', 'three']

In [16]:
another_list = ['four','five','six']

In [18]:
mylist + another_list

['one', 'two', 'three', 'four', 'five', 'six']

In [19]:
mylist

['one', 'two', 'three']

In [20]:
another_list

['four', 'five', 'six']

In [21]:
new_list = mylist + another_list

In [22]:
new_list

['one', 'two', 'three', 'four', 'five', 'six']

In [23]:
new_list[0] = 'ONE ALL CAPS'

In [24]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [25]:
new_list.append('seven')

In [26]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six', 'seven']

In [27]:
new_list.append('eight')

In [28]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [29]:
new_list.pop()

'eight'

In [30]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six', 'seven']

In [31]:
popped_item = new_list.pop()

In [32]:
popped_item

'seven'

In [33]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [35]:
new_list.pop(0)

'ONE ALL CAPS'

In [36]:
new_list

['two', 'three', 'four', 'five', 'six']

In [37]:
new_list.pop(-1)

'six'

In [38]:
new_list

['two', 'three', 'four', 'five']

In [39]:
new_list = ['a','e','x','b','c']
num_list = [4,1,8,3]

In [41]:
new_list.sort()
num_list.sort()

In [42]:
num_list

[1, 3, 4, 8]

In [43]:
new_list

['a', 'b', 'c', 'e', 'x']